// Pollux landing theme styles

// sizes

$queries-mobile: 799px;
$queries-desctop: 800px;

// colors
$white: #ffffff;

$black: #000000;
$black-100: #121212;;
$black-300: #212121;

$gray-300: #00000075;

$blue-700: #004685;
$blue-600: #569DDC;
$blue-500: #00468575;
$blue-300: #00468533;

$red-700: #D30531;
$red-600: #E1133F;


$gray-600: #2a2a2a;
$gray-500:  #383838;
$gray-400: #808080;
$gray-300: #C4C4C4;
$gray-100: #c9c9c9;